body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
.App {
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(244, 243, 247);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-bottom: 20%;
    transition: max-height 2s ease-in-out;
    
}
  
