#root {
  margin: 0 auto;
  min-height: 440px;
  min-width: 400px;
}


.contactsApp{
  display: flex;
}

.contactListContainer {
  padding: 5%;
  align-self: left;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
}

.contactList{
  list-style: none;
  padding: 0;
  margin: 4%;
}


.addContact {
  align-self:flex-end;
  min-width: 135px;
}

.formPanel {
  padding: 5%;
  justify-content: right;
  align-items: right;
  flex-direction: column;
}


